[kdfs]
# if this node set as queen
is_queen= true
# how many nodes that supported by queen
queen_max_nodes = 10
# queen ip for send and receive commands 
queen_ip = 192.168.1.1
# queen and global port number for all nodes
queen_port = 4040
# on which port client connect to local server
client_port = 4042
# local storage path of kdfs
storage= ./storage
# for scan all nodes, start from ip address
nodes_start_ip = 192.168.1.68
# for scan all nodes, when end scanning
nodes_end_ip = 192.168.1.171
# chunk size (bytes) for tansmit data
chunk_size = 1024
# if server can accept any upgrades from queen server or not!
accept_upgrades = true
# how many wait for web socket response
max_timeout = 60

# ---- DONT'T CHANGE ----
[info]
client_ip = 127.0.0.1
# version number of kdfs
# version 0.90
version = 90

programmer = madkne

# name of application
app_name = Kimia Distributed File System